header.head {
    display: flex;
    padding: 20px;
    background: #e9e9e9;
    border-bottom: 5px solid #000;
}

header .navlogo {
    flex-grow: 1;
    display: flex;
}
header .info {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family:sans-serif;
    justify-content: unset;
}

header img {
    width: 100%!important;
    max-width: 200px;
    aspect-ratio: unset!important;
    object-fit: contain!important;
}